.sapMObjLAttrRow .sapMObjStatus {
    overflow: initial !important;
    white-space: pre-wrap !important;
}
.ZZLabel {
  text-align: right;
}

.ZZTabContainer .sapMTabContainerContent .sapMTabContainerInnerContent {
    position: relative;