/* .sapMSlider:hover .sapMSliderHandleTooltip,.sapMSlider:hover .sapMSliderTooltipContainer{ */
/* /* 		visibility:hidden !important; */ */
/* 		z-index: 9999 !important; */
/* } */

/* .sapMSliderHandleTooltipsShow,.sapMSliderHandleTooltipsShow .sapMSliderHandleTooltip{ */
/* 	visibility:visible !important */
/* } */
.sapMSlider .sapMSliderHandleTooltip,.sapMSlider .sapMSliderTooltipContainer{
/* 		visibility: visible !important; */
		z-index: 9999 !important;
}
.sapUiLoSplitterContent {
    overflow: visible !important;
}
.ZToolBarOverflow {
    overflow: visible !important;
}
.sapMSliderProgress:focus{
	outline:none
}
.sapMSliderProgress:focus:before{
	border:0px dotted #000000 !important;
}

.sapMSliderLabels {
	visibility: hidden;
}
